@import '_cores/styles/_assets.scss';

.row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.label {
  @include font-size(caption);
  margin-bottom: 8px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      color: color(neutral, 6);
      &:hover {
        color: color(primary, 6);
      }
    }
    :global(.anticon) {
      font-size: 18px;
      color: color(primary, 6);
    }
    :global(.anticon-right) {
      font-size: 12px;
    }
  }
}
