@import '_cores/styles/_assets.scss';

.modal-form {
  height: 100vh;
  height: 100svh;
}
.detail_item {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }

  h6 {
    margin-bottom: 8px;
    font-weight: 400;
    color: #525252;
    font-size: 14px;
    line-height: 24px;
  }

  p {
    margin: 0;
    color: var(--text-secondary-color);
  }
  a {
    color: color(neutral, 6);
    :global(.anticon) {
      margin-right: 8px;
    }
  }
}
