@import '_cores/styles/_assets.scss';

.header {
  $h: &;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: zi(header);
  border-bottom: solid 1px color(neutral, 3);
  &:global(.ant-layout-header) {
    background-color: color(neutral, 1);
    padding: 18px 24px;
    height: auto;
  }
  &Inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.title {
  color: color(neutral, 8);
  font-weight: fw(regular);
  margin-bottom: 0;
}
.profile {
  position: relative;
  display: flex;
  align-items: center;
  &Btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  &Img {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    &El {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
