@import '_cores/styles/_assets.scss';

.card {
  margin-bottom: 20px !important;
  :global {
    .ant-card-head {
      font-weight: fw(regular) !important;
    }
    .ant-checkbox-group,
    .ant-flex {
      width: 100%;
    }
  }
}

.collapse {
  margin-bottom: 20px !important;
  :global {
    .ant-collapse-header {
      font-weight: fw(regular) !important;
    }
    .ant-collapse-content-box {
      padding: 20px 24px;
    }
  }
}

.checkbox {
  width: 100%;
  :global {
    .ant-checkbox-wrapper {
      width: 100%;
    }
    .ant-checkbox-label {
      flex: 1;
    }
  }
}
