@import '_cores/styles/_assets.scss';

.notification {
  :global(.ant-btn) {
    padding: 0 !important;
  }
  :global(.ant-avatar) {
    background-color: rgba(color(primary, 1), 0.5) !important;
    border-color: color(primary, 6) !important;
    color: color(primary, 6) !important;
  }
  :global(.ant-scroll-number-custom-component) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 6px;
    color: color(neutral, 1);
    background-color: color(curious-blue, 7);
  }
  :global(.ant-list-item) {
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
    &:last-child {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
  }
  &Info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &Text {
    width: 100%;
    margin-left: 12px;
  }
  &Title {
    @include font-size(body);
    font-weight: fw(regular);
    margin-bottom: 0;
  }
  &Label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include font-size(body);
    color: color(neutral, 7);
    margin-bottom: 0;
    span {
      &:last-child {
        @include font-size(small);
        color: color(neutral, 5);
      }
    }
  }
  &Value {
    @include font-size(caption);
    color: color(neutral, 7);
    margin-bottom: 0;
    span {
      color: color(primary, 6);
      .read & {
        color: color(neutral, 9);
      }
    }
  }
}

.read {
  :global(.ant-avatar) {
    background-color: color(neutral, 2) !important;
    border-color: color(neutral, 3) !important;
    color: color(neutral, 6) !important;
  }
  :global(.ant-scroll-number-custom-component) {
    background-color: color(neutral, 5);
  }
}
