@import '_cores/styles/_assets.scss';

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color(neutral, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  :global {
    .ant-progress {
      position: absolute;
      bottom: 64px;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 800px;
}
