@import '_cores/styles/_assets.scss';

.profile {
  display: flex;
  align-items: center;
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
