@import '_cores/styles/_assets.scss';

.row {
  margin-bottom: 24px;
}

.variation {
  margin-bottom: 20px;
  &Item {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &Header {
    position: relative;
    border-radius: 8px;
    margin-bottom: 12px;
    border: 1px solid color(neutral, 4);
  }
  &Action {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
  }
  &Table {
    width: 1088px;
    border: 1px solid color(neutral, 4);
    border-radius: 8px;
    margin-bottom: 0;
    &Wrapper {
      overflow-x: auto;
      margin-top: 20px;
    }
    th,
    td {
      @include font-size(caption);
      color: color(neutral, 7);
      text-align: left;
      padding: 12px 16px;
      border: 1px solid color(neutral, 4);
      &[align='center'] {
        text-align: center;
      }
      :global {
        .ant-input,
        .ant-input-number-input {
          @include placeholder-color(color(neutral, 5));
        }
      }
    }
    th {
      background-color: color(neutral, 2);
      border-bottom: none;
    }
  }
  &Upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8px;
  }
}

.option {
  border: 1px solid color(neutral, 4);
  border-radius: 8px;
  &Item {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid color(neutral, 4);
    :global(.ant-select-borderless) {
      width: calc(100% - 72px);
    }
    :global(.ant-input-borderless) {
      padding-right: 32px;
      padding-left: 0;
      @include placeholder-color(color(neutral, 5));
    }
  }
  &Drag {
    &:not(:disabled):hover {
      background-color: transparent !important;
      color: color(primary, 9) !important;
    }
  }
}

.delete {
  position: absolute !important;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  &:not(:disabled):hover {
    background-color: transparent !important;
    color: color(danger, 7) !important;
  }
}

.help {
  margin-top: 8px;
  @include font-size(x-small);
}

.checkboxGroup {
  flex-direction: column;
  gap: 16px;
}
.discount {
  display: flex;
  align-items: center;
  gap: 8px;
  &Number {
    width: 128px !important;
    border-right: 1px solid color(neutral, 4) !important;
  }
  &Percent {
    width: 88px !important;
  }
}
