@import '_cores/styles/_assets.scss';

.popover {
  min-width: 300px;
  &Head {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    &Text {
      flex: 3;
      padding: 8px 4px;
      font-weight: fw(medium);
      @include font-size(small);
      margin-bottom: 0;
      &:last-child {
        flex: 2;
        text-align: center;
      }
    }
  }
  &Row {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid color(neutral, 3);
    @include font-size(body);
    &:last-child {
      border-bottom: 1px solid color(neutral, 3);
    }
    &Text {
      flex: 3;
      padding: 8px 4px;
      @include font-size(small);
      margin-bottom: 0;
      &:first-child {
        word-break: break-word;
      }
      &:last-child {
        flex: 2;
        text-align: center;
      }
    }
  }
}
