/* ==========================================================================
   Init: Default
   ========================================================================== */

body {
  font-family: ff(main);
  font-weight: fw(regular);
  background-color: color(neutral, 2);
  color: color(neutral, 6);
  @include font-size(body);
  &.rm-scroll {
    overflow: hidden;
    touch-action: none;
  }
  &.hold-transition {
    *,
    *::before,
    *::after {
      transition: none !important;
    }
  }
}

h1 {
  font-weight: fw(medium);
  @include font-size(h1);
}

h2 {
  font-weight: fw(medium);
  @include font-size(h2);
}

h3 {
  font-weight: fw(medium);
  @include font-size(h3);
}

h4 {
  font-weight: fw(medium);
  @include font-size(h4);
}

h5 {
  font-weight: fw(medium);
  @include font-size(h5);
}

h6 {
  font-weight: fw(medium);
  @include font-size(h6);
}

p,
li,
td,
label {
  @include font-size(body);
}

strong,
b {
  font-weight: fw(medium);
}

del {
  display: block;
  color: color(neutral, 5);
  @include font-size(small);
}

.caption {
  @include font-size(caption);
}
