@import '_cores/styles/_assets.scss';

.search {
  margin-bottom: 20px;
}

.list {
  max-height: 400px;
  @include scroll('y');
}

.item {
  position: relative;
  display: flex;
  padding: 16px;
  background-color: color(neutral, 1);
  border: 1px solid color(neutral, 3);
  @include radius(xs);
  margin-bottom: 16px;
  transform: translate(0);
  &:last-child {
    margin-bottom: 0;
  }
  :global(.ant-checkbox-input) {
    position: fixed !important;
  }
}

.text {
  flex: 1;
}

.name {
  @include font-size(caption);
  font-weight: fw(regular);
  color: color(neutral, 8);
  margin-bottom: 4px;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 200px;
  padding: 40px 0;
}
