@import '_cores/styles/_assets.scss';

.signin {
  height: 100vh;
  height: 100svh;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 444px;
  margin: 0 auto;
  height: 100%;
}
.formHead {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}
.formBody {
  width: 100%;
}
.formLogo {
  margin-bottom: 40px;
  &El {
    display: block;
    width: auto;
    height: 80px;
    object-fit: contain;
  }
}
.title {
  @include font-size(h3);
  color: color(neutral, 9);
  font-weight: fw(medium);
}
.desc {
  @include font-size(h5);
  color: color(neutral, 9);
  margin-bottom: 0;
}
.image {
  overflow: hidden;
  height: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
