@import '_cores/styles/_assets.scss';

.rowWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.colorInfo {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.swatch {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  box-sizing: border-box;
}

.texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hexText {
  @include font-size(caption);
  color: color(neutral, 6);
  margin-right: 12px;
}
.nameText {
  @include font-size(caption);
  color: color(neutral, 6);
}

.color-suspended td {
  opacity: 0.6;
  text-decoration: line-through;
}

.ant-table-tbody > tr > td {
  padding: 12px 16px;
}
