/* ==========================================================================
   Variable: Radius
   ========================================================================== */

$radius: (
  1: 6px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 24px
);
