/* ==========================================================================
   Variable: Shadow
   ========================================================================== */

$shadow: (
  1: (
    -1px -1px 2px 0px rgba(0, 0, 0, 0.06),
    1px 1px 2px 0px rgba(0, 0, 0, 0.06)
  )
);
