/* ==========================================================================
   Variable: Typography
   ========================================================================== */

$font-main: 'Graphik', sans-serif;

// Font
$font: (
  main: $font-main,
  h1: (
    font-size: 6.4rem,
    line-height: 8rem
  ),
  h2: (
    font-size: 5.6rem,
    line-height: 7.2rem
  ),
  h3: (
    font-size: 3.2rem,
    line-height: 4.4rem
  ),
  h4: (
    font-size: 2.4rem,
    line-height: 3.6rem
  ),
  h5: (
    font-size: 2rem,
    line-height: 2.8rem
  ),
  h6: (
    font-size: 1.8rem,
    line-height: 2.8rem
  ),
  body: (
    font-size: 1.6rem,
    line-height: 2.6rem
  ),
  caption: (
    font-size: 1.4rem,
    line-height: 2.4rem
  ),
  small: (
    font-size: 1.2rem,
    line-height: 1.8rem
  ),
  x-small: (
    font-size: 1rem,
    line-height: 1.6rem
  ),
  button-large: (
    font-size: 1.6rem,
    line-height: 2.2rem
  ),
  button-medium: (
    font-size: 1.6rem,
    line-height: 2rem
  ),
  button-small: (
    font-size: 1.4rem,
    line-height: 1.6rem
  ),
  icon-upload: (
    font-size: 4rem,
    line-height: 5.6rem
  ),
  weight: (
    regular: 400,
    medium: 500,
    semi-bold: 600
  )
);
